footer
  .footer_copyright
    .copyright <p><strong>F.UN</strong>&nbsp;&nbsp;by&nbsp;&nbsp;<strong>CRYDE</strong>sig<strong>N</strong>. 2015-2017</p>
  .footer_theme_selector
    .selector.dark#s_dark
    .selector.light#s_light
  .footer_menu
    i.footer_button.icon-edit.active
    i.footer_button.icon-favorite
    i.footer_button.icon-search
    i.footer_button.icon-profile