header
  .mobile_nav
    .header_logo
    .main_nav_open_button
      .menu_button.icon-menu
  .main_nav
    .header_logo
      img(
        src="images/logo.svg" 
        alt="Site logo")
      h1 Энциклопедия фантастических вселенных
      .header_nav
        include main_menu.pug
        include main_menu_text.pug
        .main_nav_close_button
          .menu_button.icon-close