.header_text
  h1 Слово редактору!!!!
  p.
   Цель нашего проекта - создание наиболее полной базы вымышленных фантастических вселенных, воплощённых в книгфильмах, сериалах, компьютерных играх и т.д. И вы всегда можете помочь нам, поделившись информацией, написав рецензию, оценив произведение, оставив комментарий. Если вы располагаете более подходящими изображениями к тем или иным произведениям, более точными данными, более свежей информацией, пишите нам.
  p.
   Информация на нашем портале распределена по вселенным. Внутри каждой из них вы найдёте дальнейшее распределение. Мы не ограничиваемся только кинофильмами, телевизионными сериалами или книгами. У нас вы найдёте всё это и даже больше.