#cssmenu
  ul
    li.active
      a(href="index.html") Новости
    li.has-sub
      a(href='universes.html') Вселенные
      ul
        li.has-sub
          a(href="universe.html") Вселенная
          ul
            li.has-sub
              a(href='books.html') Книги
              ul
                li 
                  a(href='book.html') Книга
            li.has-sub
              a(href='books.html') Фильмы
              ul
                li 
                  a(href='book.html') Фильм
    li.has-sub 
      a(href='#') Создатели
      ul
        li 
          a(href="#") Авторы
        li
          a(href="#") Компании
    li
      a(href='#') Жанры фантастики
    li
      a(href="about.html") О проекте