div.content_footer
  div.social_pages_text Присоединяйтесь к нам
  div.social_pages
    div.social_button.facebook.icon-facebook
    div.social_button.vk.icon-vk
    div.social_button.twitter.icon-twitter
    div.social_button.googleplus.icon-googleplus