.universe_header {
  width: 100%;
  position: relative; }
  .universe_header .universe_cover img {
    width: 100%; }
  .universe_header .universe_cover_shadow {
    display: none; }
  .universe_header .universe_page_title {
    display: none; }
  .universe_header .universe_logo {
    display: none; }

.universe_info {
  margin-top: 18px;
  display: flex;
  position: relative;
  flex-direction: column; }
  .universe_info .universe_main_info .universe_title {
    line-height: 24px; }
    .universe_info .universe_main_info .universe_title h2 {
      font-size: 15.9996px;
      font-weight: 400;
      color: #333333; }
  .universe_info .universe_main_info .universe_subtitle {
    line-height: 16px;
    font-size: 11.9997px;
    font-weight: 300; }
  .universe_info .universe_main_info .universe_description {
    margin-top: 12px;
    margin-bottom: 12px; }
    .universe_info .universe_main_info .universe_description p {
      font-size: 13.333px;
      line-height: 19.9995px;
      font-weight: 300;
      margin-right: 24px;
      color: #333333; }
  .universe_info .universe_data {
    width: 100%; }
    .universe_info .universe_data .universe_subscription_button {
      height: 36px;
      margin-top: 12px;
      background: #e53937;
      color: white; }
    .universe_info .universe_data .universe_addition {
      background: #424b52;
      padding-top: 6px;
      padding-bottom: 6px; }
      .universe_info .universe_data .universe_addition p {
        color: white;
        font-size: 13.333px;
        padding: 6px 12px; }
